
# dependencies
/node_modules
# testing
/coverage

# next.js
/.next/
/out/
.env.local

# production
/build


# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

